@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

input {
  width: 100%;
  font-size: 1em;
}

button {
  border-radius: 5px;
}

.wrapper {
  display: flex;
  flex: row;
}

#input-section {
  height: 100vh;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

#input-section > div {
  height: 85vh;
  width: 75%;
}

/* Total Balance: START */
.balance__container {
  margin-bottom: 1.5em;
}
/* Total Balance: END */

/* Income & Expense Balances: START */
.inc-exp__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

.inc-exp__container > div {
  width: 50%;
  text-align: center;
}

.inc-exp__container > div:first-of-type {
  border-right: 1px solid #ddd;
}

.income__number {
  color: #00EB2A;
}

.expense__number {
  color: #EB0029;
}
/* Income & Expense Balances: END */

/* New Transaction Form: START */
.add-transac__container {
  margin-bottom: .75em;
  border-bottom: 1px solid #ddd;
}

.inc-exp__btn__container {  
  margin-bottom: .75em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inc-exp__btn__container p {
  width: 30%;
}

/* Income/Expense Toggler  */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00EB2A;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #EB0029;
}

input:checked + .slider:before {
  -webkit-transform: translateX(66px);
  -ms-transform: translateX(66px);
  transform: translateX(66px);
}

.item-title__container, .item-amount__container {
  margin-bottom: .75em;
}

#submit {
  width: 100%;
  padding: .5em 0;
  border: 3px solid #6E40FF;
  background-color: transparent;
  color: #6E40FF;
  font-size: 26px;
}

#submit:hover {
  width: 100%;
  padding: .5em 0;
  border: 3px solid #6E40FF;
  background-color: #6E40FF;
  color: #fff;
  font-size: 26px;
}
/* New Transaction Form: END */

/* History Section: START */
#history-section {
  width: 50%;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#history-section > div {
  width: 75%;
  margin-top: 1.75em;
  text-align: center;
}

#history-section ul {
  margin-top: 1.75em;
  list-style-type: none;
}

#history-section li {
  margin: 20px 0;
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* border-right: 7px solid #00EB2A; */
  -webkit-box-shadow: 1px 1px 9px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 9px -2px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 9px -2px rgba(0,0,0,0.75);
}

.plus {
  border-right: 7px solid #00EB2A;
}

.minus {
  border-right: 7px solid #EB0029;
}

li > button {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  background-color: #EB0029;
  border: 0;
  padding: 0 8px;
  font-size: 26px;
}

li:hover > button {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  background-color: #EB0029;
  border: 0;
  padding: 0 8px;
  font-size: 26px;
}
/* History Section: END */




/* .delete__btn {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  background-color: #EB0029;
  border: 0;
  padding: 0 8px;
  font-size: 26px;
  opacity: 0;
  transition: opacity 0.3 ease;
} */

.income {
  color: #00EB2A;
}

.expense {
  color: #EB0029;
}

.submit {
  color: #6E19FF;
}